<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
		<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" /> -->
		<title>Dylan Forbes</title>
	</head>

	<body>
		<div id="content">
			<header>
				<div class="header_items">
					<div class="header_item" id="dylan_forbes"> Dylan Forbes </div>
					<div id="tabs">
						<div class="header_item"> Tab 1 </div>
						<div class="header_item"> Tab 2 </div>
						<div class="header_item"> Tab 3 </div>
					</div>
				</div>
			</header>
			<main>
			blah blah
			</main>
		</div>
	</body>
</html>

